# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Temporary dirs.
/src/[Oo]bj/
/src/[Bb]in/

# Temporary output file.
/output.txt
